
/* for Ipad Screens */

@media (min-width: 481px) and (max-width : 968px) {
    .first {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .container-one {
        width: 95vw;
        border-radius: 15px;
        justify-content: center;
        height: auto;
        padding: 2rem 0;
    }

    .containerTwo {
        width: 95vw;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .img img {
        height: 23vh;
    }

    .top-margin {
        font-size: 1.5rem;
    }

    .s-down img {
        display: none;
    }

    #item1 {
        width: 95vw;
    }

    #item2 {
        display: none;
    }
    .project{
        height: auto;
    }
    .container-grid{
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .project-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem;
        height: auto;
        justify-content: center;
    }
    .project-box img{
        height: 19vh;
    }
    /* About Sec */
    #about{
        height: 100vh;
    }
    .about-grid{
        height: auto;
    }
    .about-items {
        width: 95vw;
        height: 100vh;
    }
    .about-div {
        display: none;
    }
    .about-intro h1{
        font-size: 3.5rem;
    }
    .about-intro h4{
        font-size: 2rem;
    }
    .signature img {
        width: 40vw;
        height: 11vh;
    }
    .test-skills{
        display: flex;
        flex-direction: column;
    }
    .box-items{
        width: 95vw;
    }
    .slide img{
        height: 20vh;
        width: auto;
    }
    .slide span{
        font-size: 3rem;
    }
    .slide p{
        font-size: 2rem;
    }
    .slide .work{
        font-size: 1.5rem;
    }
}

/* For Mobile Screens */

@media (max-width: 480px) {
    .first {
      display: inline;
    }
  
    .container-one {
      width: 100%;
      padding: .6rem 0;
      border-radius: 0px;
      margin: 0;
    }
  
    .s-down img {
      display: none;
    }
  
    .containerTwo {
      height: auto;
      width: 100%;
      border-radius: 0px;
      margin: 0;
    }
  
    .container-grid {
      display: inline;
    }
  
    #item1 {
      display: inline;
      height: auto;
      width: 100%;
      border-radius: 0px;
    }
  
    .project-grid {
      grid-template-columns: auto;
      row-gap: 2rem;
      height: auto;
    }
  
    .project-box img {
      height: 100%;
      width: 68vw;
    }
  
    #item2 {
      display: none;
    }
  
    #about {
      height: 100%;
      margin: 0;
      ;
    }
  
    .waviy {
      display: inline;
      margin-bottom: 20px;
    }
  
    .about-intro h1 {
      text-align: left;
      font-size: 1.8rem;
  
    }
  
    .about-grid {
      display: inline-block;
      margin-bottom: .6rem;
    }
  
    .about-intro {
      padding: .5rem.3rem;
      text-align: left;
      word-spacing: .1rem;
    }
  
    .signature img {
      display: none;
    }
  
    .test-skills {
      height: 30vh;
    }
  
    .slide img {
      height: auto;
      width: 26%;
    }
  
    .test-skills {
      display: inline;
    }
  
    .box-items {
      width: 100%;
      margin: 0;
      display: inline;
    }
  
    .skill-cont {
      display: flex;
      justify-content: center;
  
    }
  
    .skills-box {
      height: 12vh;
      width: 12vh;
    }
  
    .main {
      background-color: black;
      height: 100%;
      width: 100%;
    }
    form{
        width: 72vw;
    }
  }
  